* { 
    margin: 0; 
    padding: 0; 
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth; 
  } 
.section1 {
  background: rgba(229, 84, 115, 0.1);
}

.flower_intro {
  display: flex;
  height: 600px;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  gap: 30px;
  margin: auto;
  margin-top: 11vh;
}
.flower_intro_text h1 {
  font-size: 50px;
  margin-bottom: 30px;
  color: #272727;
}
.flower_intro_text p {
  color: rgba(39, 39, 39, 0.6);
}
/* .flower_photo{
    border-right: 97px;
} */
.btn {
  padding: 20px 43px;
  background-color: #e55473;
  border: none;
  border-radius: 8px;
  margin-top: 30px;
  color: white;
  cursor: pointer;
  border: 1px solid #e55473;
}
.btn:hover {
  background-color: transparent;
  border: 1px solid gray;
  transition: 0.4s;
  color: gray;
}

.flower_photo img {
  height: 600px;

}
/* .flower_photo{
    border: 80px;
} */

.section3 {
  margin: 80px 0;
  background-color: #e554730d;
  padding: 60px 0;
}
.sign_up {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: auto;
  gap: 50px;
}
.sign_up .sign_up_text {
  text-align: center;
}
.sign_up_text h1 {
  margin-bottom: 17px;
  color: #272727;
}
.sign_up_text h1 span {
  color: #e55473;
}
.sign_up_image img {
  width: 250px;
  height: auto;
}
.section4 { 
    margin-bottom: 80px; 
  } 
  .instagram_text { 
    max-width: 500px; 
    margin: auto; 
    text-align: center; 
    margin-bottom: 40px; 
  } 
  .instagram_text h1 { 
    margin-bottom: 12px; 
    font-size: 30px; 
    color: #272727; 
  } 
  .instagram_text p { 
    line-height: 2; 
    font-size: 14px; 
    color: rgba(39, 39, 39, 0.6); 
  } 
  .instagram_images img { 
    width: 300px; 
    height: auto; 
    margin: 0 10px; 
  } 
   
  .instagram_images { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  } 